torch>=1.7.0
torchvision
pandas>=1.1
transformers
imbalanced-learn
dask-quik
pytest
pytest-cov
pytest-mpl
pytest-lazy-fixture
pytest-dotenv
codecov
numpy>=1.21.0
bump2version
mlflow
boto3
ray[tune]
torchserve
torch-model-archiver
ruamel.yaml